.salesDataTable-page {
    .salesDataTable-filter {
        position: relative;

        .slider-container {
            position: absolute;
            top: -3rem;
            /* Adjust the top distance */
            right: 20px;
            /* Adjust the right distance */
            display: flex;
            justify-content: end;
            

        }
    }

    .salesDataTable-table-container {
        margin-top: 5rem;
        width: 100%;
        overflow-x: auto;
        max-height: 60vh;
        scrollbar-width: thin;

        /* Enable vertical scrolling */
        display: block;
        max-width: 100%;
        overflow-y: auto;

        /* Custom scrollbar for better UX */
        &::-webkit-scrollbar {
            width: 8px;
            height: 8px;
        }

        table {
            width: 100%;
            border-collapse: collapse;
            min-width: 700px;

            thead {
                position: sticky;
                top: 0;
                background-color: #6399f9;
                color: white;

                th {
                    padding: 0 5px;
                    white-space: nowrap;
                    text-align: center;
                    // padding: 12px;
                }


                /* Rounded corners for first and last th */
                th:first-child {
                    border-radius: 5px 0 0 5px;
                }

                th:last-child {
                    border-radius: 0 5px 5px 0;
                }
            }

            tbody {
                tr {

                    background-color: #f8f8f8;

                    &:nth-child(even) {
                        background-color: white;
                    }

                    .expand-btn {
                        padding: 2px;

                        button {
                            padding: 2px;
                            background-color: #6399f9;
                            color: white;
                            border: none;
                            font-size: 12px;
                            border-radius: 5px;
                            cursor: pointer;
                        }
                    }

                    td {
                        font-size: 12px;
                        text-align: center;
                        white-space: nowrap;



                        /* Rounded corners */
                        &:first-child {
                            border-radius: 5px 0 0 5px;
                        }

                        &:last-child {
                            border-radius: 0 5px 5px 0;
                        }
                    }
                }

            }

            .products-table-container {
                width: 100%;
                overflow-x: auto;
                max-height: 60vh;
                scrollbar-width: thin;

                /* Enable vertical scrolling */
                display: block;
                max-width: 100%;
                overflow-y: auto;

                /* Custom scrollbar for better UX */
                &::-webkit-scrollbar {
                    width: 8px;
                    height: 8px;
                }

                .products-table {
                    width: 100%;
                    border-collapse: collapse;
                    min-width: 700px;

                    thead {
                        position: sticky;
                        top: 0;

                        color: white;

                        th {
                            padding: 0 5px;
                            white-space: nowrap;
                            text-align: center;
                            background-color: #6399f9 !important;
                            // padding: 12px;
                        }

                        /* Rounded corners for first and last th */
                        th:first-child {
                            border-radius: 5px 0 0 5px;
                        }

                        th:last-child {
                            border-radius: 0 5px 5px 0;
                        }
                    }

                    tbody {
                        tr {

                            background-color: #f8f8f8;

                            &:nth-child(even) {
                                background-color: white;
                            }

                            .expand-btn {
                                padding: 2px;

                                button {
                                    padding: 2px;
                                    background-color: #6399f9;
                                    color: white;
                                    border: none;
                                    font-size: 12px;
                                    border-radius: 5px;
                                    cursor: pointer;
                                }
                            }

                            td {
                                font-size: 12px;
                                text-align: center;
                                white-space: nowrap;



                                /* Rounded corners */
                                &:first-child {
                                    border-radius: 5px 0 0 5px;
                                }

                                &:last-child {
                                    border-radius: 0 5px 5px 0;
                                }
                            }
                        }
                    }

                }
            }
        }
    }
}