.dashboard-table {
  min-width: 1320px;
  border-collapse: collapse;
}

.dashboard-table th,
.dashboard-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: right;
  min-width: 92px;
  white-space: nowrap;
}

.dashboard-table th:first-child,
.dashboard-table td:first-child {
  text-align: left;
}
