.header {
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0rem;
    right: 0;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 10px 20px;
    font-size: 1.5rem;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    transition: left 0.3s ease;
    z-index: 100;
  
    &.collapsed {
      left: 4rem;
    }
    .profile{
      color: rgba(249, 64, 8, 0.62);
      cursor: pointer;
    }
  }