.actorTypeHierarchy-page{
    .actorTypeHierarchy-page-header{
        font-size: 1.5rem;
        font-weight: 900;
    }
    .actorTypeHierarchy-page-container{
        background-color: #fff;
        padding: 20px;
        border-radius: 10px;
        .actorTypeHierarchy-page-first-line{
            display: flex;
            justify-content: space-between;
            margin-top: 10px;
            .actorTypeHierarchy-page-filter{
                gap: 5px;
                display: flex;
                input, select{
                    // width: 100%;
                    max-width: 60rem;
                    border-radius: 10px;
                    border: 2px solid #808080;
                    color: #808080;
                    padding: 5px;
                    font-size: 12px;
                }
            }
            .actorTypeHierarchy-page-buttons{
                display: flex;
                gap: 5px;
                
                .actorTypeHierarchy-page-add-btn, .actorTypeHierarchy-page-upload-btn, .actorTypeHierarchy-page-download-btn {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: white;
                    padding: 5px 10px;
                    border-radius: 10px;
                    font-size: 15px;
                    cursor: pointer;
                    &:hover{
                        opacity: .9;
                    }
                }
                .actorTypeHierarchy-page-upload-btn{
                    background-color: #6666f2;
                        .browse-btn{
                            cursor: pointer;
                        }
                }
                .actorTypeHierarchy-page-download-btn{
                    background-color: #ffcd00;
                    color: black;
                }
                .actorTypeHierarchy-page-add-btn{
                    background-color: #4CAF50;
                }
            }
        }
        .actorTypeHierarchy-page-table-container{
            margin-top: 10px;
            table {
                width: 100%;
                border-collapse: collapse;
                min-width: 700px; 
                
                thead {
                    position: sticky;
                    top: 0;
                    background-color: #6399f9;
                    color: white;
                    
                    th {               
                        padding: 0 5px;
                        white-space: nowrap;
                        text-align: center;
                        // padding: 12px;
                    }
                    
        
                    /* Rounded corners for first and last th */
                    th:first-child {
                        border-radius: 5px 0 0 5px;
                    }
        
                    th:last-child {
                        border-radius: 0 5px 5px 0;
                    }
                }
        
                tbody {
                    tr {
                        
                        background-color: #f8f8f8;
        
                        &:nth-child(even) {
                            background-color: white;
                        }
                        .expand-btn{
                            padding: 2px;
                            button{
                                padding: 2px;
                                background-color: #6399f9;
                                color: white;
                                border: none;
                                font-size: 12px;
                                border-radius: 5px;
                                cursor: pointer;
                            }
                        }
                        td {
                            font-size: 12px;
                            text-align: center;
                            white-space: nowrap; 
        
                            /* Rounded corners */
                            &:first-child {
                                border-radius: 5px 0 0 5px;
                            }
        
                            &:last-child {
                                border-radius: 0 5px 5px 0;
                            }
                        }
                    }
                }
            }
        }
    }
    .actorTypeHierarchy-page-add-box{
        position: fixed;
        height: 100vh;
        width: 100vw;
        top: 0;
        left: 0;
        z-index: 1000;
        background: rgb(0 0 0 / 24%); 
        backdrop-filter: blur(0px);
        .actorTypeHierarchy-page-add-container{
            position: absolute;
            top: 15%;
            left: 40%;
            background-color: #fff;
            width: 400px;
            border-radius: 10px;
            .actorTypeHierarchy-page-add-content{
                padding: 15px;
                .actorTypeHierarchy-page-add-header{
                    font-size: 20px;
                    font-weight: 800;
                }
                .actorTypeHierarchy-page-add-form{
                    margin-top: 20px;
                    display: flex;
                    flex-direction: column;
                    input,select{
                        padding: 10px;
                        margin: 5px;
                        border-radius: 5px;
                    }
                }
                .actorTypeHierarchy-page-add-button{
                    display: flex;
                    justify-content: end;
                    margin-top: 10px;
                    gap: 10px;
                    .actorTypeHierarchy-page-submit-btn{
                        color: white;
                        border-radius: 5px;
                        border: none;
                        padding: 5px 10px;
                        border-radius: 5px;
                        cursor: pointer;
                        &:hover{
                            opacity: 9;
                        }

                        background-color: #4CAF50;
                    }
                }
            }
        }
    }
    .error-message{
        color: rgb(240 28 28);
    }
    .success-message{
        color: #4CAF50;
    }
}